.main {
    margin: 2em;
    padding: 2em;
    background-color: #fff;
}
.main-layout {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
}
li {
    list-style: none;
}
.county-list {
    /* width: 10em; */
    height: 43em;
    overflow: scroll;
    padding: .5em 1em .5em .5em;
}
.counties {
    text-align: end;
}
.counties-container {
    /* width: 12em; */
    border-radius: 15px;
    border: solid 2px cadetblue;
}
.graph-3d {
    height: 80em;
}
.active-button {
    background-color: cadetblue; 
    color: white;
}
.inactive-button {
    background-color: white;
    color: cadetblue;
}
.button {
    width: 8em;
    border-radius: 15px;
    border: solid 2px cadetblue;
}
@media only screen and (max-width: 800px) {
    .main-layout {
        display: grid;
        grid-template-columns: 100%;
    }
    .county-list {
        height: 10em;
    }
    .counties {
        text-align: left;
    }
}